@font-face {
  font-family: 'legalheat';
  src:  url('../fonts/icons/legalheat.eot?r3qevi');
  src:  url('../fonts/icons/legalheat.eot?r3qevi#iefix') format('embedded-opentype'),
    url('../fonts/icons/legalheat.ttf?r3qevi') format('truetype'),
    url('../fonts/icons/legalheat.woff?r3qevi') format('woff'),
    url('../fonts/icons/legalheat.svg?r3qevi#legalheat') format('svg');
  font-weight: normal;
  font-style: normal;
}

i:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'legalheat' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  margin-right: 10px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-left-chevron:before {
  content: "\e91d";
}
.icon-down-chevron:before {
  content: "\e91e";
}
.icon-right-chevron:before {
  content: "\e91f";
}
.icon-up-chevron:before {
  content: "\e920";
}
.icon-check:before {
  content: "\e900";
}
.icon-checked:before {
  content: "\e901";
}
.icon-chevron:before {
  content: "\e902";
}
.icon-close:before {
  content: "\e903";
}
.icon-close-envelope:before {
  content: "\e904";
}
.icon-down:before {
  content: "\e905";
}
.icon-envelope:before {
  content: "\e906";
}
.icon-facebook:before {
  content: "\e907";
}
.icon-google-plus:before {
  content: "\e908";
}
.icon-home:before {
  content: "\e909";
}
.icon-hourglass:before {
  content: "\e90a";
}
.icon-instagram:before {
  content: "\e90b";
}
.icon-left-quote:before {
  content: "\e90c";
}
.icon-like:before {
  content: "\e90d";
}
.icon-lines:before {
  content: "\e90e";
}
.icon-link:before {
  content: "\e90f";
}
.icon-linkedin:before {
  content: "\e910";
}
.icon-new-message:before {
  content: "\e911";
}
.icon-play:before {
  content: "\e912";
}
.icon-play-button:before {
  content: "\e913";
}
.icon-printer:before {
  content: "\e914";
}
.icon-review:before {
  content: "\e915";
}
.icon-right-quote:before {
  content: "\e916";
}
.icon-scissors:before {
  content: "\e917";
}
.icon-search:before {
  content: "\e918";
}
.icon-shopping-cart:before {
  content: "\e919";
}
.icon-twitter:before {
  content: "\e91a";
}
.icon-youtube:before {
  content: "\e91b";
}
.icon-youtube1:before {
  content: "\e91c";
}
